* {
   margin: 0;
}

html {
   height: 100%;
}

.footer {
   text-align: center;
}

body {
   font-family: 'PT Sans Narrow', sans-serif, 'Arial';
   margin: 0;
   padding: 0;
   height: 100%;
   color: #333;
}

div#top-header {
   text-align: center;
   background-color: #BA093E;
   color: white;
}

div[id*='plot'] {
   width: 460px;
   padding: 15px 0;
}

div.footer {
   text-align: center;
   color: #DDDDDD;
}

#top-header a, #top-header a:visited {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 133%;
}

#top-header a:hover, #top-header a:visited:hover {
  color: #BA093E;
  background-color: #EEEEEE;
}

.footer a, .footer a:visited {
  color: #CCCCCC;
  font-weight: bold;
}

.footer a:hover, .footer a:visited:hover {
  color: #BBBBBB;
  text-decoration: underline;
}
