{% extends "template.html" %}

{% block secondary-style %}
<link type="text/css" rel="stylesheet" href="/media/aidxp/css/home.css"/>
{% endblock %}

{% block secondary-script %}
<script type="text/javascript" src="/media/aidxp/js/home.js"></script>
{% endblock %}


{% block content %}
<div id="wrap">
<div id="title">
<h1>The Aid Explorer</h1>
<hr />
<h3>Mapping the Hyperspace of International Aid</h3>
</div>
<div id="left-content">
<iframe width="480" height="360" src="http://www.youtube.com/embed/ADIcNeQvFfI?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
<div id="right-content">
<h4>Explore International Aid:</h4>
<div id="ques">
<ul>
<li id="q1"></li>
<li id="q2"></li>
<li id="q3"></li>
<li id="q4"></li>
<li id="q5"></li>
<li id="q6"></li>
<li id="q7"></li>
<li id="q8"></li>
<li id="q9"></li>
<li id="q10"></li>
<li id="q11"></li>
<li id="q12"></li>
</ul>
</div>
</div>
<div class="clear"></div>
</div>
{% endblock %}
