* {
   margin: 0;
}

html {
   min-width: 1143px;
   height: 100%;
}

.footer {
   text-align: center;
}

body {
   font-family: 'PT Sans Narrow', sans-serif, 'Arial';
   margin: 0;
   padding: 0;
   height: 100%;
   color: #333;
}

div#top-header {
   position: absolute;
   top: 0;
   z-index: 1;
   text-align: center;
   background-color: #BA093E;
   color: white;
   width: 100%;
   min-width: 1143px;
}

div#wrap {
   margin: 5px 10px;
   margin-top: 90px;
}

div#plot-wrap {
   padding: 10px;
   border: solid 2px #DDDDDD;
   width: 65%;
   margin-left: 33%;
}

div#plot {
   text-align: center;
}

div.legend {
   border: solid 2px #DDDDDD;
}

div#ques, div#profile-legend {
   border: solid 2px #DDDDDD;
   margin-bottom: 20px;
   width: 32%;
}

div#left-column {
   width: 32%;
}

div#selectors {
   position: absolute;
   top: 55px;
   width: 100%;
   text-align: center;
   min-width: 1143px;
}

div.float-left {
   float: left;
}

div.footer {
   text-align: center;
   color: #AAAAAA;
   font-size: 75%;
   clear: both;
}

a, a:visited {
   text-decoration: none;
   color: #BA093E;
}

a:hover, a:visited:hover {
   text-decoration: underline;
}

#top-header a, #top-header a:visited {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 125%;
  margin: 0;
}

#top-header a:hover, #top-header a:visited:hover {
  color: #BA093E;
  text-decoration: none;
  background-color: #EEEEEE;
}

#top-header a.heretop {
  font-weight: bolder;
  padding-bottom: 3px;
  border-bottom: solid 7px #EEEEEE;
}

.footer a, .footer a:visited {
  color: #888888;
  font-weight: bold;
}

.footer a:hover, .footer a:visited:hover {
  color: #777777;
  text-decoration: underline;
}

h2 {
   margin-left: 10px;
   z-index: 2;
   color: white;
   position: absolute;
   top: 7px;
   cursor: pointer;
}

h3 {
   margin: 5px;
}


#ques ul {
   margin: 10px 0;
   padding: 0;
   list-style: none;
}

#ques a, #ques a:visited {
   display: block;
   margin: 0;
   padding: 5px;
   color: #BA093E;
}

#ques a:hover, #ques a:visited:hover {
   background-color: #BA093E;
   color: #EEEEEE;
   text-decoration: none;
}

img {
   border-style: none;
}

table {
  margin: 0 auto;
  width: 900px;
  text-align: left;
}

table thead th{
  border-bottom: 1px solid #999;
  text-align: left;
/*  padding: 0 12px 0 0;*/
  padding-bottom: 5px;
}

table thead th a{
  font-weight: normal;
  color: #666;
}

table tbody tr th:nth-child(1),
table tbody tr td:nth-child(1) {
  width: 60px;
}
table tbody tr th:nth-child(2),
table tbody tr td:nth-child(2) {
  width: 740px;
}
table tbody tr th:nth-child(3),
table tbody tr td:nth-child(3) {
  width: 100px;
}

table tbody tr td:nth-child(1) {
  text-align: center;
  padding: 4px;
}

table tbody tr td {
  border-bottom: 1px solid #ddd;
}

table tbody tr td span {
  display: block;
  padding: 3px;
  width: 30px;
}

.arrow_up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid green;
}

.arrow_down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid red;
}

.sort_arrow_down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  display: inline;
/*  font-size: 4px;*/
  position: relative;
  top: 12px;
  margin: 0 0 0 4px;
}

.sort_arrow_up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  display: inline;
/*  font-size: 4px;*/
  position: relative;
  bottom: 12px;
  margin: 0 0 0 4px;
}

a.here {
   text-decoration: underline;
   font-weight: bold;
}

.glossaryterm {
   border-bottom: dashed 1px #999999;
   cursor: help;
}
