div#wrap {
   margin: 10px 30px 30px 30px;
   text-align: center;
}

div#title {
   text-align: center;
   margin: 0 auto;
   margin-bottom: 30px;
   width: 750px;
}

div#left-content {
   float: left;
}

div#right-content {
   margin-left: 510px;     
   text-align: left;
}

div#ques {
   width: 100%;
   min-height: 375px;
}

div.clear {
   clear: both;
}
