div#wrap {
   margin-top: 55px;
}

div#plot-wrap {
   height: 600px;
   text-align: center;
}

div#legend-org {
   height: 400px;
   width: 100%;
}

div#legend-cou {
   height: 440px;
   width: 100%;
}

div#legend-iss {
   height: 245px;
   width: 100%;
}

div#legend-size {
   clear: left;
}

div#ques, div#network-legend {
   width: 100%;
}

div#network-legend {
   margin-top: 20px;
   border: solid 2px #DDDDDD;
}

div#network-legend div {
   margin: 10px;
}

svg#org {
   width: 100%;
   height: 375px;
}

svg#cou {
   width: 100%;
   height: 390px;
}

svg#iss {
   width: 100%;
   height: 255px;
}

div#plot-wrap img {
   margin-top: 275px;
}
