h1 {
   font-size: 300%;
   display: inline;
   position: absolute;
   top: 25px;
}

div#profile-head {
   margin-bottom: 10px;
}

div#profile-rank {
   font-weight: bold;
   font-size: 150%;
   text-align: center;
   border: solid 2px #DDDDDD;
   padding: 16px 5px;
   margin-bottom: 5px;
   width: 110px;
}

div#profile-cons {
   text-align: center;
   border: solid 2px #DDDDDD;
   padding: 5px;
   width: 110px;
}

div#profile-logo {
   margin-left: 150px;
   position: relative;
}

div#profile-main {
   clear: both;
}

div#question-text {
   position: relative;
}

div#left-column {
   width: 32%;
   float: left;
}

div#ques, div#profile-legend {
   width: 100%;
}

div#profile-legend div {
   margin: 10px;
}

span#sharelink {
   display: none;
   border: solid 1px #BBBBBB;
   border-radius: 5px;
   padding: 5px;
   position: absolute;
   background-color: #F4F4F4;
   top: 30px;
   right: 0;
}

span#logo {
   border: solid 2px #DDDDDD;
   margin-right: 15px;
   width: 104px;
   height: 103px;
   display: inline-block;
   background-repeat: no-repeat;
   background-position: center;
}

.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.chzn-select {
  width: 200px;
  margin-top: 15px;
}

.alignright {
   float: right;
}

@-moz-document url-prefix() {
   div#target-entity_chzn {
      top: 8px;
   }
}

:root div#target-entity_chzn {
   top: 8px \0/IE9;
}
