div#wrap, div#plot {
   width: 100%;
   margin: 0;
}

div#buttons {
   text-align: center;
}

table thead th{
  cursor: pointer;
}


a.rankbutton, a.rankbutton:visited {
  display: inline-block;
  background-color: #EEEEEE;
  border: solid 2px #BA093E;
  font-weight: bold;
  font-size: 130%;
  padding: 7px;
  margin: 5px;
  color: black;
  border-radius: 15px;
}

a.rankbutton:hover,
a.rankbutton:visited:hover {
  background-color: #BA093E;
  color: #EEEEEE;
}
