{% extends "template.html" %}

{% block secondary-style %}
<link type="text/css" rel="stylesheet" href="/media/aidxp/css/about.css"/>
{% endblock %}

{% block secondary-script %}{% endblock %}

{% block second-header %}
<h2>Aid Explorer</h2>
{% endblock %}

{% block content %}
<div id="wrap">
<div id="profile-main">
<div id="ques" class="float-left">
<h3>About</h3>
<ul>
<li><a href="/aidxp/about/self/">Aid Explorer</a></li>
<li><a href="/aidxp/about/data/">Data</a></li>
<li><a href="/aidxp/about/team/">Team</a></li>
</ul>
</div>
<div id="plot-wrap">
<h4>Lorem ipsum</h4>
Dolor sit amet, consectetur adipiscing elit. Praesent vulputate libero quis urna viverra placerat. Donec sit amet nisl gravida eros rutrum convallis vel quis lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum sollicitudin, ipsum fermentum vestibulum mollis, mauris nisl adipiscing magna, nec vulputate lorem odio eu nunc. Donec ultricies neque in libero vulputate at fermentum nulla molestie. Mauris feugiat pellentesque vehicula. Pellentesque tincidunt tortor vitae tortor semper imperdiet.
<br /><br />
<h4>Duis eu ligula</h4>
In dolor adipiscing fringilla. Phasellus quis turpis lorem. Cras feugiat tempor mauris ac posuere. Pellentesque accumsan porttitor sapien non sodales. Morbi a convallis tellus. Donec venenatis risus sit amet orci bibendum nec tristique augue placerat. Aliquam malesuada eros tincidunt neque facilisis eget gravida felis iaculis. In porta porta volutpat. Aenean eget leo vel erat dapibus ultrices a ac dui. In risus quam, tincidunt at elementum ut, egestas vel enim. Nam eget libero quam. Pellentesque auctor suscipit vehicula. In sem felis, luctus et eleifend nec, fringilla sit amet dui.
<br /><br />
<h4>Special Thanks</h4>
The developers of the Aid Explorer want to thank the developers of the <a href="http://atlas.media.mit.edu">Observatory</a> for the assistance in the development of this website. Graphic elements, layout and parts of the Django framework and of the Javascript visualizations are borrowed from the Observatory and most of the credit for the work goes to their lead developer Alexander Simoes.
</div>
</div>
</div>
{% endblock %}
