{% extends "template.html" %}

{% block secondary-style %}
<link type="text/css" rel="stylesheet" href="/media/aidxp/css/about.css"/>
{% endblock %}

{% block secondary-script %}{% endblock %}

{% block second-header %}
<h2>Aid Explorer</h2>
{% endblock %}

{% block content %}
<div id="wrap">
<div id="profile-main">
<div id="ques" class="float-left">
<h3>About</h3>
<ul>
<li><a href="/aidxp/about/self/">Aid Explorer</a></li>
<li><a href="/aidxp/about/data/">Data</a></li>
<li><a href="/aidxp/about/team/">Team</a></li>
</ul>
</div>
<div id="plot-wrap">
<h4>Paper Authors</h4>
<ul>
<li>
<img src="/media/aidxp/img/michele_coscia.png" />
<div>Michele Coscia</div>
<p>Michele is a post-doc fellow at the Center for International Development, Harvard University in Cambridge. With a background in Digital Humanities, his work focuses on mining complex networks, and on applying the extracted knowledge to international development and governance.</p>
</li>
<li>
<img src="/media/aidxp/img/cesar_hidalgo.png" />
<div>C&eacute;sar A. Hidalgo</div>
<p>C&eacute;sar is the Asahi Broadcast Corporation Career Development Professor and an Assistant Professor at the MIT Media Lab, as well as a faculty associate at Harvard's University Center for International Development. His work focuses on improving the understanding of systems using and developing concepts of complexity, evolution and network science.</p>
</li>
<li>
<img src="/media/aidxp/img/ricardo_hausmann.png" />
<div>Ricardo Hausmann</div>
<p>Ricardo Hausmann is Director of the Center for International Development and Professor of the Practice of Economic Development at Harvard University. </p>
</li>
</ul>
<h4>Website Developer</h4>
<ul>
<li>
<img src="/media/aidxp/img/michele_coscia.png" />
<div>Michele Coscia</div>
<p></p>
</li>
</ul>
</div>
</div>
</div>
{% endblock %}
