{% extends "template.html" %}

{% block secondary-style %}
<link type="text/css" rel="stylesheet" href="/media/aidxp/css/about.css"/>
{% endblock %}

{% block secondary-script %}{% endblock %}

{% block second-header %}
<h2>Aid Explorer</h2>
{% endblock %}

{% block content %}
<div id="wrap">
<div id="profile-main">
<div id="ques" class="float-left">
<h3>About</h3>
<ul>
<li><a class="here" href="/aidxp/about/self/">Aid Explorer</a></li>
<li><a href="/aidxp/about/glossary/">Glossary</a></li>
<li><a href="/aidxp/about/data/">Data</a></li>
<li><a href="/aidxp/about/team/">Team</a></li>
</ul>
</div>
<div id="plot-wrap">
<h4>A New Way to Look at International Aid</h4>
International development is a complex global issue facing coordination problems of gigantic proportions. The difference in income between rich and poor grew from a four to one factor to a hundred to one. The number of different countries rised from colonial ages. From a handful of development agencies we now have thousands of them. The system connecting donor agencies, recipient countries and development issues is extremely complex and cannot be managed with a top-down approach.
<br /><br />
<h4>Using the Aid Explorer</h4>
This website has been developed as an aid coordination facilitating tool. With the Aid Explorer, users can understand which issues are related to countries or to organizations and if countries or issues are aligned to the organizations that are related to them, by checking the <a href="/aidxp/explore/profile/1/">Profile</a> pages. It is also possible to understand which issue is related to another issue, or which country is related to another country, or which organization is related to another organization by exploring the <a href="/aidxp/explore/network/1/">Network</a> maps. Finally, we report the best aligned countries, issues and organizations in our <a href="/aidxp/explore/ranking/1/">Rankings</a>.
<br /><br />
<h4>The Paper</h4>
We describe how we created our dataset and how to extract useful knowledge from it in the paper "<a href="/media/aidxp/pdf/aidexplorer.pdf">The Structure and Dynamics of International Development Assistance</a>" (click on the link to download the PDF), published on February 2013 in the Journal of Globalization and Development.
<br /><br />
<h4>Special Thanks</h4>
The developers of the Aid Explorer want to thank the developers of the <a href="http://atlas.media.mit.edu">Observatory</a> for the assistance in the development of this website. Graphic elements, layout and parts of the Django framework and of the Javascript visualizations are borrowed from the Observatory and most of the credit for the work goes to their lead developer Alexander Simoes.
</div>
</div>
</div>
{% endblock %}
