{% extends "template.html" %}

{% block secondary-style %}
<link type="text/css" rel="stylesheet" href="/media/aidxp/css/about.css"/>
{% endblock %}

{% block secondary-script %}{% endblock %}

{% block second-header %}
<h2>Aid Explorer</h2>
{% endblock %}

{% block content %}
<div id="wrap">
<div id="profile-main">
<div id="ques" class="float-left">
<h3>About</h3>
<ul>
<li><a href="/aidxp/about/self/">Aid Explorer</a></li>
<li><a href="/aidxp/about/data/">Data</a></li>
<li><a href="/aidxp/about/team/">Team</a></li>
</ul>
</div>
<div id="plot-wrap">
<h4>Website Developer</h4>
<ul>
<li>
<img src="/media/aidxp/img/michele_coscia.png" />
Michele Coscia
</li>
</ul>
<br /><br />
<h4>Paper Authors</h4>
<ul>
<li>
<img src="/media/aidxp/img/michele_coscia.png" />
Michele Coscia
</li>
<li>
<img src="/media/aidxp/img/cesar_hidalgo.png" />
Cesar A. Hidalgo
</li>
<li>
<img src="/media/aidxp/img/ricardo_hausmann.png" />
Ricardo Hausmann
</li>
</ul>
</div>
</div>
</div>
{% endblock %}
