{% extends "template.html" %}

{% block secondary-style %}
<link type="text/css" rel="stylesheet" href="/media/aidxp/css/about.css"/>
{% endblock %}

{% block secondary-script %}{% endblock %}

{% block second-header %}
<h2>Aid Explorer</h2>
{% endblock %}

{% block content %}
<div id="wrap">
<div id="profile-main">
<div id="ques" class="float-left">
<h3>About</h3>
<ul>
<li><a href="/aidxp/about/self/">Aid Explorer</a></li>
<li><a href="/aidxp/about/data/">Data</a></li>
<li><a href="/aidxp/about/team/">Team</a></li>
</ul>
</div>
<div id="plot-wrap">
<h4>Lorem ipsum</h4>
Dolor sit amet, consectetur adipiscing elit. Praesent vulputate libero quis urna viverra placerat. Donec sit amet nisl gravida eros rutrum convallis vel quis lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum sollicitudin, ipsum fermentum vestibulum mollis, mauris nisl adipiscing magna, nec vulputate lorem odio eu nunc. Donec ultricies neque in libero vulputate at fermentum nulla molestie. Mauris feugiat pellentesque vehicula. Pellentesque tincidunt tortor vitae tortor semper imperdiet.
<br /><br />
<h4>Duis eu ligula</h4>
In dolor adipiscing fringilla. Phasellus quis turpis lorem. Cras feugiat tempor mauris ac posuere. Pellentesque accumsan porttitor sapien non sodales. Morbi a convallis tellus. Donec venenatis risus sit amet orci bibendum nec tristique augue placerat. Aliquam malesuada eros tincidunt neque facilisis eget gravida felis iaculis. In porta porta volutpat. Aenean eget leo vel erat dapibus ultrices a ac dui. In risus quam, tincidunt at elementum ut, egestas vel enim. Nam eget libero quam. Pellentesque auctor suscipit vehicula. In sem felis, luctus et eleifend nec, fringilla sit amet dui.
<br /><br />
<h4>Aliquam tellus metus</h4>
Bibendum a ullamcorper non, lobortis tristique metus. Ut id interdum metus. Pellentesque nec quam eget turpis ultricies semper vel in eros. Phasellus sed quam eget ante semper scelerisque. Aenean dictum tellus ut tortor ultricies faucibus. Praesent placerat diam in lectus dictum eu scelerisque turpis aliquet. Aenean egestas congue feugiat. Nulla laoreet lacinia nisl, semper vestibulum nulla rutrum nec.
</div>
</div>
</div>
{% endblock %}
