{% extends "template.html" %}

{% block secondary-style %}
<link type="text/css" rel="stylesheet" href="/media/aidxp/css/home.css"/>
{% endblock %}

{% block secondary-script %}
<script type="text/javascript" src="/media/aidxp/js/home.js"></script>
{% endblock %}


{% block content %}
<div id="wrap">
<div id="title">
<h1>The Aid Explorer</h1>
<hr />
<h2>Mapping the Hyperspace of International Aid</h2>
</div>
<div id="left-content">
<img src="/media/aidxp/img/vid-temp.gif" />
</div>
<div id="right-content">
<h3>Explore International Aid:</h3>
<div id="ques">
<ul>
<li id="q1"></li>
<li id="q2"></li>
<li id="q3"></li>
<li id="q4"></li>
<li id="q5"></li>
<li id="q6"></li>
<li id="q7"></li>
<li id="q8"></li>
<li id="q9"></li>
<li id="q10"></li>
<li id="q11"></li>
<li id="q12"></li>
</ul>
</div>
</div>
<div class="clear"></div>
</div>
{% endblock %}
