{% extends "template.html" %}

{% block secondary-style %}
<link type="text/css" rel="stylesheet" href="/media/aidxp/css/profile.css"/>
<link type="text/css" rel="stylesheet" href="/media/aidxp/css/tipsy.css"/>
{% endblock %}

{% block secondary-script %}
<script type="text/javascript" src="/media/aidxp/js/jquery.tipsy.js"></script>
<script type="text/javascript">
pageid = {{ id }};
pagename = "{{ name }}";
pagetype = "{{ type }}";
othertype = "";
</script>
{% endblock %}

{% block second-header %}
<h2>Aid Explorer</h2>
<div id="selectors">
<dl id="select-issue" class="dropdown">
<dt><a href="#"><span>Issues</span></a></dt>
<dd>
<ul>
{% for issue in issues %}
<li><a alt="{{ issue.id }}" href="#">{{ issue.name }}</a></li>
{% endfor %}
</ul>
</dd>
</dl>
<dl id="select-country" class="dropdown">
<dt><a href="#"><span>Countries</span></a></dt>
<dd>
<ul>
{% for country in countries %}
<li><a alt="{{ country.id }}" href="#">{{ country.name }}</a></li>
{% endfor %}
</ul>
</dd>
</dl>
<dl id="select-org" class="dropdown">
<dt><a href="#"><span>Organizations</span></a></dt>
<dd>
<ul>
{% for org in orgs %}
<li><a alt="{{ org.id }}" href="#">{{ org.name }}</a></li>
{% endfor %}
</ul>
</dd>
</dl>
</div>
{% endblock %}

{% block content %}
<div id="wrap">
<div id="profile-head">
<div class="float-left">
<div id="profile-rank">#{{ rank }} / 
{% if type == "IS" %}
{{ issue_n }}
{% elif type == "CO" %}
{{ country_n }}
{% else %}
{{ org_n }}
{% endif %}
</div>
<div id="profile-cons">IC: {{ consistency }}%</div>
</div>
<div id="profile-logo"><img onerror="imgError(this);" src="/media/aidxp/img/logos/{{ type }}-{{ id }}.png" id="logo"/> <h1>{{ name }}</h1></div>
</div>
<div id="profile-main">
<div id="ques" class="float-left">
<h3>Questions</h3>
<ul>
<li><a href="javascript:void(0)" onclick="toggleRankType('{{ other_type1 }}');">What are the {{ other_type1 }} most related to {{ name }}?</a></li>
<li><a href="javascript:void(0)" onclick="toggleRankType('{{ other_type2 }}');">What are the {{ other_type2 }} most related to {{ name }}?</a></li>
<li><a href="javascript:void(0)" onclick="togglePlotType('{{ other_type1 }}', 'bipartite');">How does {{ name }} relate to {{ other_type1 }} over {{ other_type2 }}?</a></li>
<li><a href="javascript:void(0)" onclick="togglePlotType('{{ other_type2 }}', 'bipartite');">How does {{ name }} relate to {{ other_type2 }} over {{ other_type1 }}?</a></li>
<li><a href="javascript:void(0)" onclick="togglePlotType('{{ other_type1 }}', 'consistency');">How does {{ name }} relate to all {{ other_type1 }}?</a></li>
<li><a href="javascript:void(0)" onclick="togglePlotType('{{ other_type2 }}', 'consistency');">How does {{ name }} relate to all {{ other_type2 }}?</a></li>
</ul>
</div>
<div id="plot-wrap">
<div id="question-text"></div>
<div id="plot">
</div>
</div>
</div>
</div>
<script src="/media/aidxp/js/profile.js"></script>
{% endblock %}
