<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Aid Coordination Explorer</title>
    <meta name="description" content="Aid Coordination and Networks">
    <meta name="author" content="Michele Coscia">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css' />
    <link type="text/css" rel="stylesheet" href="/media/aidxp/css/general.css"/>
    {% block secondary-style %}{% endblock %}
    <script type="text/javascript" src="/media/aidxp/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/media/aidxp/js/d3.v3.min.js"></script>
    {% block secondary-script %}{% endblock %}
  </head>
  <body>
   <div id="top-header">
    <a href="/aidxp/explore/profile/1/">PROFILES</a>
    <a href="/aidxp/explore/network/1/">NETWORKS</a>
    <a href="/aidxp/explore/ranking/1/">RANKINGS</a>
    <a href="/aidxp/about/">ABOUT</a>
   </div>
   {% block second-header %}{% endblock %}
   {% block content %}{% endblock %}
   <div class="footer">
     <a href="http://www.hks.harvard.edu/centers/cid/"><img src="/media/aidxp/img/logo_cid.png" /></a><br />
     <a href="http://macroconnections.media.mit.edu/"><img src="/media/aidxp/img/logo_macro.png" /></a><br /><br />
     The Aid Explorer by <a href="http://www.michelecoscia.com/">Michele Coscia</a>
   </div>
  </body>
</html>
